html, body {
	margin: 0px;
    padding: 0px;
}

header {
    background-color: #551C00;
	text-align: center;
	position: fixed; /* stops the header from moving when scrolling */
	width: 100%;
	height: 100px;
	z-index: 1; /* puts the header on the top */
}

header h1 { /* selects all h1s that are inside headers */
    color: #FFC6AA;
	font-size: 30pt;
}

nav {
    background-color: #AA5D39;
	margin-top: 100px;
    position: fixed; /* stops the navbar from moving when scrolling */
    align-items: center;
    width: 200px;
	height: calc(100% - 100px);
    overflow-y: auto; 
}

nav a { /* selects all a's that are inside navs */
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
	display: block;
	font-size: 14pt;
}

nav a:hover { /* selects anchors that are being hovered over */
    background-color: #D48D6A;
}

#content-container {
    padding-top: 120px;
    padding-left: 240px;
	height: 100%;
	background-color: #FFC6AA;
}

#text-container {
    width: 60%;
    display: inline-block;
}

#images-container {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    width: 30%;
    padding-top: 30px;
}

#text-container p {
	text-align: justify;
    text-indent: 20px;
}

h1, h2, p, li {
	color: #551C00;
	font-family: "Open Sans", sans-serif;
}

a {
    font-family: "Open Sans", sans-serif;
}

#images-container img {
    width: 100%;
}

.caption {
    font-size: 10pt;
    text-align: center;
}

footer {
    background-color: #D48D6A;
    padding: 10px 10px 10px 240px; /* top right bottom left */
    margin: 0px;
}

footer h1 { /* selects all h1s that are inside headers */
	font-size: 18pt;
}

#previous, #next {
    color: white;
    text-align: center;
    padding: 15px;
    width: 80px;
    text-decoration: none;
	display: inline-block;
	font-size: 14pt;
    background-color: #AA5D39;
}

#previous {
    margin-right: 10px;
}

#previous-next-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#previous:hover, #next:hover { /* selects elements that are being hovered over */
    background-color: #D48D6A;
}

:target { /* selects the element targeted by an internal link */
    background-color: #ffC6AA;
}

/* color scheme: https://paletton.com/#uid=10i0u0kllllaFw0g0qFqFg0w0aF */