/* removes default margin and padding from the body */
html, body {
	margin: 0px;
    padding: 0px;
}

header {
    background-color: #551C00;
	text-align: center;
	position: fixed; /* stops the header from moving when scrolling */
	width: 100%;
	height: 100px;
	z-index: 1; /* puts the header on the top */
}

header h1 { /* selects all h1s that are inside headers */
    color: #FFC6AA;
	font-size: 30pt;
}

nav {
    background-color: #AA5D39;
	margin-top: 100px;
    position: fixed; /* stops the navbar from moving when scrolling */
    align-items: center;
    width: 200px;
	height: calc(100% - 100px); /* calculates 100% - 100px */
    overflow-y: auto; /* creates a scrollbar when the elements can't fit */
}

nav a { /* selects all a's that are inside navs */
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none; /* removes the underline */
	display: block; /* makes the link into a block that resembles a button */
	font-size: 14pt;
}

nav a:hover { /* selects anchors that are being hovered over */
    background-color: #D48D6A;
}

#content-container {
    display: flex; /* defines a flex container: a container with more options for styling */
    padding-top: 120px;
    padding-left: 240px;
	height: 100%;
	background-color: #FFC6AA;
}

#text-container {
    width: 60%;
    display: inline-block; /* allows other elements to be displayed on the same line */
}

#images-container {
    justify-self: stretch; /* stretches the height to match the height of the parent */
    display: inline-flex; /* allows other elements to be displayed on the same line and defines a flexbox */
    justify-content: space-between; /* adds space between each element */
    flex-basis: 30%; /* width but for flex boxes */
    flex-direction: column; /* sets the main axis to up and down */
    list-style: none; /* removed the bullet points */
    vertical-align: top;
    padding-top: 30px;
}

#text-container p { /* selects all p elements that are in #text-container */
	text-align: justify;
    text-indent: 20px;
}

h1, h2, p, li {
	color: #551C00;
	font-family: "Open Sans", sans-serif;
}

a {
    font-family: "Open Sans", sans-serif;
}

#images-container img { /* selects all img elements that are in #images-container */
    width: 100%;
}

.caption {
    font-size: 10pt;
    text-align: center;
}

footer {
    background-color: #D48D6A;
    padding: 10px 10px 10px 240px; /* top right bottom left */
    margin: 0px;
}

footer h1 { /* selects all h1s that are inside footers */
	font-size: 18pt;
}

#previous, #next {
    color: white;
    text-align: center;
    padding: 15px;
    width: 80px;
    text-decoration: none; /* removes the underline */
	display: inline-block; /* makes the link into a block and allows other elements to be displayed on the same line */
	font-size: 14pt;
    background-color: #AA5D39;
}

#previous {
    margin-right: 10px;
}

#previous-next-container {
    display: flex; /* defines a flex container: a container with more options for styling */
    justify-content: center; /* centers the div using a flex container property */
    margin-top: 30px;
    margin-bottom: 20px;
}

#previous:hover, #next:hover { /* selects elements that are being hovered over */
    background-color: #D48D6A;
}

:target { /* selects the element targeted by an internal link */
    background-color: #ffC6AA;
}

/* This section hides images when screen is to wide: */

@media screen and (min-width: 830px) { /* this part activates if the screen width goes below above 829px */
    .remove-image-830px {
        display: none;
    }
}

@media screen and (min-width: 1000px) { /* this part activates if the screen width goes below above 999px */
    .remove-image-1000px {
        display: none;
    }
}

@media screen and (min-width: 1200px) { /* this part activates if the screen width goes below above 1199px */
    .remove-image-1200px {
        display: none;
    }
}

@media screen and (min-width: 1500px) { /* this part activates if the screen width goes below above 1499px */
    .remove-image-1500px {
        display: none;
    }
}

@media screen and (min-width: 1800px) { /* this part activates if the screen width goes below above 1799px */
    .remove-image-1800px {
        display: none;
    }
}


@media screen and (max-width: 830px) { /* this part activates if the screen width goes below 831px */
    header h1 {
        font-size: 24pt;
    }
}

/* color scheme: https://paletton.com/#uid=10i0u0kllllaFw0g0qFqFg0w0aF */